#button2{
   display: flex;
   justify-content: center;
   align-items: center;
}

.header{
   display: flex;
   justify-content: center;
}

#fontdiner-swanky-regular {
  font-family: "Fontdiner Swanky", serif;
  font-style: normal;
}


#button {
      all: unset;
      cursor: pointer;
    }
